<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Button</h1>
        <p class="page__desc">按钮</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <a href="javascript:;" class="ssui-btn ssui-btn-primary">页面主操作 Normal</a>
		<a href="javascript:;" class="ssui-btn ssui-btn-primary ssui-btn-loading"><i class="ssui-loading"></i>页面主操作 Loading</a>
        <a href="javascript:;" class="ssui-btn ssui-btn-disabled ssui-btn-primary">页面主操作 Disabled</a>
        <a href="javascript:;" class="ssui-btn ssui-btn-default">页面次要操作 Normal</a>
		<a href="javascript:;" class="ssui-btn ssui-btn-default ssui-btn-loading"><i class="ssui-loading"></i>页面次操作 Loading</a>
        <a href="javascript:;" class="ssui-btn ssui-btn-disabled ssui-btn-default">页面次要操作 Disabled</a>
        <a href="javascript:;" class="ssui-btn ssui-btn-warn">警告类操作 Normal</a>
		<a href="javascript:;" class="ssui-btn ssui-btn-warn ssui-btn-loading"><i class="ssui-loading"></i>警告类操作 Loading</a>
        <a href="javascript:;" class="ssui-btn ssui-btn-disabled ssui-btn-warn">警告类操作 Disabled</a>
        
        <div class="button-sp-area">
            <a href="javascript:;" class="ssui-btn ssui-btn-plain-default">按钮</a>
            <a href="javascript:;" class="ssui-btn ssui-btn-plain-default ssui-btn-plain-disabled">按钮</a>
            <a href="javascript:;" class="ssui-btn ssui-btn-plain-primary">按钮</a>
            <a href="javascript:;" class="ssui-btn ssui-btn-plain-primary ssui-btn-plain-disabled">按钮</a>
            <a href="javascript:;" class="ssui-btn ssui-btn-mini ssui-btn-primary">按钮</a>
            <a href="javascript:;" class="ssui-btn ssui-btn-mini ssui-btn-default">按钮</a>
            <a href="javascript:;" class="ssui-btn ssui-btn-mini ssui-btn-warn">按钮</a>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>
