<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Footer</h1>
        <p class="page__desc">页脚</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="ssui-footer">
            <p class="ssui-footer__text">Copyright &copy; 2008-2016 ssui.io</p>
        </div>
        <br>
        <br>
        <div class="ssui-footer">
            <p class="ssui-footer__links">
                <a href="javascript:void(0);" class="ssui-footer__link">底部链接</a>
            </p>
            <p class="ssui-footer__text">Copyright &copy; 2008-2016 ssui.io</p>
        </div>
        <br>
        <br>
        <div class="ssui-footer">
            <p class="ssui-footer__links">
                <a href="javascript:void(0);" class="ssui-footer__link">底部链接</a>
                <a href="javascript:void(0);" class="ssui-footer__link">底部链接</a>
            </p>
            <p class="ssui-footer__text">Copyright &copy; 2008-2016 ssui.io</p>
        </div>
        <div class="ssui-footer ssui-footer_fixed-bottom">
            <p class="ssui-footer__links">
                <a href="javascript:home();" class="ssui-footer__link">ssui首页</a>
            </p>
            <p class="ssui-footer__text">Copyright &copy; 2008-2016 ssui.io</p>
        </div>
    </div>
</div>