<div class="page">
    <div class="ssui-msg">
        <div class="ssui-msg__icon-area"><i class="ssui-icon-warn ssui-icon_msg"></i></div>
        <div class="ssui-msg__text-area">
            <h2 class="ssui-msg__title">操作失败</h2>
            <p class="ssui-msg__desc">内容详情，可根据实际需要安排，如果换行则不超过规定长度，居中展现<a href="javascript:void(0);">文字链接</a></p>
        </div>
        <div class="ssui-msg__opr-area">
            <p class="ssui-btn-area">
                <a href="javascript:history.back();" class="ssui-btn ssui-btn-primary">推荐操作</a>
                <a href="javascript:history.back();" class="ssui-btn ssui-btn-default">辅助操作</a>
            </p>
        </div>
        <div class="ssui-msg__extra-area">
            <div class="ssui-footer">
                <p class="ssui-footer__links">
                    <a href="javascript:void(0);" class="ssui-footer__link">底部链接文本</a>
                </p>
                <p class="ssui-footer__text">Copyright &copy; 2008-2016 ssui.io</p>
            </div>
        </div>
    </div>
</div>